*{
    color: #a2d2ff;
}


form{
    margin:40px auto 0 auto;
    width: 350px;
    height: 250px;
    background-color: #ffffff;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.4)
}

input{
    border:none;
    background-color: #ffffff;
    border-bottom: 1px solid #cbd5e0 ;
    margin-top: 40px;
    margin-bottom:10px ;
    margin-right: 10px;
}

input:hover{
    cursor: pointer;
}

button{
    border : none;
    border-radius: 5px;
    background-color:#89c2d9;
    width: 100px;
    height: 25px;
    margin-top :50px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4)

}

button:hover{
    background-color:#61a5c2;
    cursor:pointer;
}